*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button__primary svg {
  max-height: 2rem;
  max-width: 6rem;
}

.site__logo {
  font-size: 3.2rem;
  font-weight: bold;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6em;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

.template__container {
  margin: 0 auto;
  width: 100%;
  max-width: 120rem;
  min-width: 30rem;
}

.button__primary {
  padding: 1.2rem 1.8rem;
  min-height: 4.4rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #7C6A0A;
  color: #FFEFE7;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
}

.header {
  width: 100%;
  height: 10rem;
  margin-block-end: -10rem;
  display: flex;
  position: sticky;
  top: 0;
  background: rgba(255, 218, 198, 0);
  border-radius: 0 0 0 20px;
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  box-shadow: 0px 2px 14px -10px #7C6A0A;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container--logo {
  color: #7C6A0A;
}
.header__container--menu button {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background-color: #BABD8D;
  border-radius: 100%;
  margin-left: 12px;
}
.header__container--menu button svg {
  fill: #7C6A0A;
}

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-block-end: 12rem;
}
.hero__template {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  align-self: flex-end;
  justify-self: flex-start;
}
.hero__content--h1 {
  font-size: 3.6rem;
  margin: 0;
  color: #7C6A0A;
}
.hero__content--span {
  color: #141410;
  font-size: 2.4rem;
  margin: 0.8rem 0;
}
.hero__content--button {
  margin-inline-start: 0;
  margin-block-start: 2rem;
}
.hero__img {
  width: 400px;
  min-width: 30rem;
  min-height: 40rem;
  background-color: red;
}

.store__features {
  background-color: #FA9500;
  min-height: 30rem;
  min-width: 30rem;
  padding: 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.features__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 24rem;
  height: 12rem;
  color: #FFEFE7;
  border: solid 2px #FFEFE7;
  gap: 20px;
  padding: 12px;
}
.features__card--figure {
  max-width: 60px;
  max-height: 60px;
}
.features__card--img {
  max-width: 60px;
  max-height: 60px;
}
.features__card--span {
  font-size: 1.6rem;
  line-height: 1.25em;
  font-weight: bold;
  text-align: center;
}

.product__section {
  padding: 10rem 0;
}

.product__card {
  max-width: 28rem;
  max-height: 32rem;
}
.product__card--img {
  width: 100%;
  height: 12rem;
}
.product__card--info {
  display: flex;
  flex-direction: column;
}
.product__card--info h3 {
  color: #7C6A0A;
  font-size: 2rem;
}
.product__card--info span {
  color: red;
  font-size: 2rem;
}

.info__section {
  background-color: rebeccapurple;
  width: 100%;
  height: auto;
}

.aboutus {
  display: flex;
}
.aboutus__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 34rem;
  height: 12rem;
  color: #FFEFE7;
  border: solid 2px #FFEFE7;
  gap: 20px;
  padding: 20px;
}
.aboutus__card--figure {
  max-width: 60px;
  max-height: 60px;
}
.aboutus__card--figure img {
  max-width: 60px;
  max-height: 60px;
}
.aboutus__card--span {
  font-size: 1.6rem;
  line-height: 1.25em;
  font-weight: bold;
  text-align: center;
}

.gallery__title {
  color: red;
}
.gallery__container--img {
  max-width: 40px;
  border-radius: 4rem;
}

.location {
  width: 100%;
  height: 60rem;
}

.footer {
  padding: 6rem 0;
  background-color: #FA9500;
  width: 100%;
  min-width: 30rem;
  height: auto;
}
.footer__logo {
  color: #FFEFE7;
}
.footer__menu--li {
  list-style: none;
}
.footer a {
  color: #FFEFE7;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */