*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
  color: #7C6A0A;
  min-width: 32rem;
}

.wrapper {
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar .wrapper {
  height: 13.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  color: #7C6A0A;
  font-size: 3rem;
  font-weight: 700;
}
.navbar__right {
  display: flex;
  gap: 1.2rem;
}
.navbar__button {
  background: none;
  border: none;
}
.navbar__button svg {
  width: 5rem;
  height: 5rem;
  stroke: #7C6A0A;
}

.products__section {
  margin-block: 13rem 8rem;
}
.products__section .main__products--title {
  font-size: 5rem;
  line-height: 6.5rem;
  font-weight: 400;
  color: #7C6A0A;
}
.products__section .main__products--container {
  margin-block: 6rem 7.3rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 32rem);
  gap: 7.5rem 2rem;
  justify-content: space-between;
}
.products__section .products__card {
  position: relative;
  max-width: 32rem;
  min-width: 13rem;
  min-height: 55rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.8rem;
  background-color: #ffdac6;
}
.products__section .products__icon-wishlist {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.8rem;
  height: auto;
  stroke: #7C6A0A;
}
.products__section figure {
  width: 100%;
  height: 30rem;
}
.products__section .products__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.8rem;
}
.products__section .products__info {
  margin-block-start: 1.6rem;
  height: 9rem;
  overflow: hidden;
}
.products__section .products__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.3rem;
  color: #7C6A0A;
}
.products__section .products__text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 19.5px;
  color: #7C6A0A;
}
.products__section .products__cta {
  width: 100%;
  height: 4rem;
  margin-block-start: 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #FA9500;
  color: #FFEFE7;
  border: none;
  border-radius: 2.8rem;
}
.products__section .products__card--home {
  background-color: #BABD8D;
}
.products__section .products__card--home .products__icon-wishlist {
  stroke: #FFEFE7;
}
.products__section .products__card--home .products__title, .products__section .products__card--home .products__cta, .products__section .products__card--home .products__icon-wishlist, .products__section .products__card--home .products__text {
  color: #FFEFE7;
}

.footer {
  background-color: #FA9500;
  width: 100%;
  color: #FFEFE7;
  height: 46.1rem;
  padding: 4.2rem 0;
}
.footer__title {
  margin-block-end: 3.6rem;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.footer__menu a {
  color: #FFEFE7;
}
.footer__menu--social {
  margin-block-start: 9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.footer__menu--social .footer__item--social {
  width: 4.3rem;
  height: 4.3rem;
}

.hero__section {
  margin-block-start: 7.5rem;
  color: #7C6A0A;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.hero__section .hero__info {
  min-width: 32rem;
  max-width: 60rem;
  color: #7C6A0A;
}
.hero__section .hero__title {
  font-size: 6rem;
  margin-block-end: 6rem;
}
.hero__section .hero__cta {
  width: 26rem;
  height: 7.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  border-radius: 3.2rem;
  margin-block-start: 10.9rem;
  background-color: #FA9500;
  color: #FFEFE7;
}
.hero__section .hero__media {
  justify-self: end;
  min-width: 32rem;
  width: 55rem;
  height: 68.6rem;
  text-align: right;
}
.hero__section .hero__media img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__us {
  margin-block-end: 23rem;
}
.about__us .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem 2rem;
}
.about__us--title {
  width: 100%;
  font-size: 5rem;
  line-height: 6.5rem;
  margin-block-end: 1rem;
  font-weight: 400;
}
.about__us--card {
  max-width: 53.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.about__us--img {
  width: 16.4rem;
  height: 16.4rem;
}
.about__us--text {
  font-size: 2.9rem;
  line-height: 3.9rem;
  text-align: center;
  color: #e86424;
  max-width: 36rem;
}

.gallery__section h2 {
  font-size: 5rem;
  line-height: 6.5rem;
  margin-block-end: 15rem;
  font-weight: 400;
}
.gallery__section .gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.gallery__section .gallery__container img {
  min-width: 32rem;
  max-height: 39.6rem;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1.6rem;
}

.location__section {
  padding-block: 14rem;
}
.location__section h2 {
  font-size: 5rem;
  line-height: 6.5rem;
  font-weight: 400;
}
.location__section img {
  margin-block: 6.7rem 5rem;
  height: 59rem;
}
.location__section .location__name {
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: 400;
  color: #FA9500;
}
.location__section .location__address {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #FA9500;
}/*# sourceMappingURL=main.css.map */