
.navbar {
    height: 10rem;

    .wrapper {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-between;
        @include flexcontainer;
        height: 8rem;
    }


    &__logo {
        color: $primary-text-color;
        font-size: 3rem;
        font-weight: 700;
    }

    &__right {
        display: flex;
        gap: 1.2rem;
    }

    &__button {
        background: none ;
        border: none;
        
        svg {
            width: 5rem;
            height: 5rem;
            stroke: $primary-text-color;
        }

    }

}
