.products__section {
    margin-block: 13rem 8rem;

    .main__products--title {
        font-size: 5rem;
        line-height: 6.5rem;
        font-weight: 400;
        color: $primary-text-color;
    }

    .main__products--container {
        margin-block: 6rem 7.3rem;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 32rem);
        gap: 7.5rem 2rem;
        justify-content: space-between;

        @media screen and (max-width: $query-tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.2rem;
        }
   }

    .products__card {
        position: relative;
        // max-width: 32rem;
        // min-width: 13rem;
        min-height: 55rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0.8rem;
        background-color: $secundary-color;

        @media screen and (max-width: $query-mobile) {
            width: 100%;
            max-width: 100%;
            padding: 4rem 2rem;
            min-height: 45rem;
        }
    }

    .products__icon-wishlist {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2.8rem;
        height: auto;
        stroke:$primary-text-color;

        @media screen and (max-width:$query-mobile) {
            width: 2rem;
        }
    }

    figure {
        width: 100%;
        height: 30rem;
        
        @media screen and (max-width:$query-tablet) {
            height: 40rem;
        }

        @media screen and (max-width:$query-mobile) {
            height: 24rem;
        }


    }

    .products__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.8rem;
    }



    .products__info  {
        margin-block-start: 1.6rem;
        height: 9rem;
        overflow: hidden;
    }

    .products__title {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.3rem;
        color: $primary-text-color;
    }

    .products__text {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 19.5px;
        color: $primary-text-color;
    }

    .products__cta {
        width: 100%;
        height: 4rem;
        margin-block-start: 2rem;
        font-weight: bold;
        font-size: 1.6rem;
        background-color: $primary-orange;
        color: $primary-color;
        border: none;
        border-radius: 2.8rem;
    }

    .products__card--home {
        background-color: $tertiary-color;

        .products__icon-wishlist {
            stroke: $primary-color;
        }

        .products__title, .products__cta, .products__icon-wishlist, .products__text {
            color: $primary-color;
        }
    }

}