// Global config and reset
@import 'globales';
@import 'mixings';

//Elements 
@import 'navbar';
@import 'products';
@import 'footer';

//flex
//display:flex;
//width: 100%;
//max-width: 132rem;
//margin: 0 auto;
//padding: 0 2rem;
//flex-wrap: wrap;
//flex-direction:row;
//justify-content: space-between;
//align-items: center;


.wrapper {
    @include grilla;
}

.hero__section {
    margin-block-start: 7.5rem;
    color: $primary-text-color;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
    @include flexcontainer;
    gap: 2rem;
    flex-wrap: nowrap;

    @media screen and (max-width: $query-mobile) {
        flex-wrap: wrap;
        margin-block-start: 0;
    }
    
    .hero__info {
        min-width: 32rem;
        max-width: 60rem;
        color: $primary-text-color;
        
        @media screen and (max-width: $query-tablet) {
            max-width: 50%;
        }

        @media screen and (max-width: $query-mobile) {
            max-width: 100%;
            order: 1;
        }
    }

    .hero__title {
        font-size: 6rem;
        margin-block-end: 6rem;
    }

    .hero__cta {
        width: 26rem;
        height: 7.2rem;
        font-size: 2.4rem;
        font-weight: bold;
        border: none;
        border-radius: 3.2rem;
        margin-block-start: 10.9rem;
        background-color: $primary-orange;
        color: $primary-color;
    }

    .hero__media {
        justify-self: end;
        min-width: 32rem;
        width: 55rem;
        height: 68.6rem;
        text-align: right;

        @media screen and (max-width: $query-mobile) {
            width: 100%;
            order: 0;
        }

        img {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        }
    }
}

.about__us {
    margin-block-end: 23rem;
    @media screen and (max-width:$query-tablet) {
        margin-block-end: 12rem;
    }

    .wrapper {
        @include flexcontainer;
        gap: 4rem 2rem;
    }

    &--title {
        width: 100%;
        font-size: 5rem;
        line-height: 6.5rem;
        margin-block-end: 1rem;
        font-weight: 400;
    }
    
    &--card {
        max-width: 53.2rem;
        margin: 0 auto;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        @include flexcontainer;
        align-items: flex-start;
        gap: 0.8rem;

        @media screen and (max-width: $query-tablet) {
            max-width: 45%;
            justify-content: center;
        }

        @media screen and (max-width: $query-mobile) {
            max-width: 100%;
        }
    }

    &--img {
        width: 16.4rem;
        height: 16.4rem;
    }

    &--text {
        font-size: 2.9rem;
        line-height: 3.9rem;
        text-align: center;
        color: #e86424;
        max-width: 36rem;
        min-height: 16rem;
    }
}

.gallery__section {

        h2 {
            font-size: 5rem;
            line-height: 6.5rem;
            margin-block-end: 4rem;
            font-weight: 400;
        }

        .gallery__container {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        @include flexcontainer;
        gap: 2rem;


        img {
            min-width: 32rem;
            max-height: 39.6rem;
            flex-grow: 1;
            object-fit: cover;
            object-position: center;
            border-radius: 1.6rem;
        }
    }

}

.location__section {
    padding-block: 14rem;

    h2 {
        font-size: 5rem;
        line-height: 6.5rem;
        font-weight: 400;
    }

    img {
        margin-block: 6.7rem 5rem;
        height: 59rem;
        max-width: 100%;
        object-fit: cover;
    }

    .location__name {
        font-size: 3.6rem;
        line-height: 4.6rem;
        font-weight: 400;
        color: $primary-orange;
    }

    .location__address {
        font-size: 2.6rem;
        line-height: 3.2rem;
        font-weight: 400;
        color: $primary-orange;
    }
}