$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternion-color: #FA9500;
$primary-text-color: #7C6A0A;
$secondary-text-color: #141410;
$background:#FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;

$text-size: 1.6rem;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button__primary svg {
    max-height: 2rem;
    max-width: 6rem;
}

.site__logo {
    font-size: 3.2rem;
    font-weight: bold;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    width: 100%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6em;
    background-color: $primary-color;
    font-family: $font-stack;

}

.template__container {
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
    min-width: 30rem;
}


.button__primary {
    padding: 1.2rem 1.8rem;
    min-height: 4.4rem;
    width: fit-content;
    background-color: $primary-text-color;
    color: $primary-color;
    font-weight: bold;
    border:none;
    border-radius: 2rem;
}

.header {
    width: 100%;
    height: 10rem;
    margin-block-end: -10rem;
    display: flex;
    position: sticky;
    top: 0;
    background: #ffefe7dc;
    border-radius: 0 0 0 20px;
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    box-shadow: 0px 2px 14px -10px #7C6A0A;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    &--logo {
        color: $primary-text-color;
        }

    &--menu {
            button {
            width: 3.2rem;
            height: 3.2rem;
            border: none;
            background-color: $tertiary-color;
            border-radius: 100%;
            margin-left: 12px;
            
            svg {
                fill: $primary-text-color;
            }
        }
    }   
    }
}

.hero {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-block-end: 12rem;
    
    &__template {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 38rem;

        align-self: flex-end;
        justify-self: flex-start;

        &--h1 {
            font-size: 3.6rem;
            margin: 0;
            color: $primary-text-color;
        }
    
        &--span {
            color: $secondary-text-color;
            font-size: 2.4rem;
            margin: 0.8rem 0;
        }
    
        &--button {
            margin-inline-start: 0;
            margin-block-start: 2rem;
        }
    }
    &__figure--img {
        max-width: 60rem;
        min-width: 30rem;
        object-fit: cover;
        object-position: bottom;
        height: 40rem;
        border-radius: 1.8rem;
   }

}

.store__features {
    background-color: $background;
    min-height: 30rem;
    min-width: 30rem;
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
    
.features__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 24rem;
    height: 12rem;
    color: $primary-color;
    border: solid 2px $primary-color;
    gap: 20px;
    padding: 12px;

    &--figure {
        max-width: 60px;
        max-height: 60px;
    }

    &--img {
        max-width: 60px;
        max-height: 60px;
    }

    &--span {
        font-size: 1.6rem;
        line-height: 1.25em;
        font-weight: bold;
        text-align: center;
    }
}

.main {

}

.product__section {
    padding: 10rem 0;
}

.product__card {
    max-width: 28rem;
    max-height: 32rem;

    &--img {
        width: 100%;
        height: 12rem;
    }

    &--info {
        display: flex;
        flex-direction: column;
    }

    &--info h3{
        color:$primary-text-color;
        font-size: 2rem;
    }

    &--info span {
        color: red;
        font-size: 2rem;
    }
}


.info__section {
    background-color: rebeccapurple;
    width: 100%;
    height: auto;
}

.aboutus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 34rem;
        height: 12rem;
        color: $primary-color;
        border: solid 2px $primary-color;
        gap: 20px;
        padding: 20px;
    
        &--figure {
            max-width: 60px;
            max-height: 60px;
        }
        
        &--figure img {
            max-width: 60px;
            max-height: 60px;
        }
        
        &--span {
            font-size: 1.6rem;
            line-height: 1.25em;
            font-weight: bold;
            text-align: center;
        }
    }
    

}

.gallery {

    &__title {
        color:red;
    }

    &__container {
        &--img {
            max-width: 40px;
            border-radius: 4rem;
        }
    }


}

.location {
    width: 100%;
    height: 60rem;
}

.footer {
    padding: 6rem 0;
    background-color: $background;
    width: 100%;
    min-width: 30rem;
    height: auto;

    &__logo {
        color:$primary-color;
    }

    &__menu--li {
        list-style: none;
    }

    a {
        color: $primary-color;
        text-decoration: none;
    }
}

ul.footer__menu li {

}